body{
    background-color: beige; 
}

#dunno{
    color: aqua;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.website{

    color: yellow;
    background-color: aqua;
}